<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include(process.cwd() + "/views/_head.ejs" ) %>
    <title>Zitra | Home</title>
  </head>
  <body>
    <div class="container-scroller">
      <%- include(process.cwd() + "/views/_sidenav.ejs") %>
        <div class="main-panel">
          <div class="content-wrapper">
            
            <div class="row">
              <div class="col grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Applicants</h4>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Applicant ID</th>
                            <th>Full Name</th>
                            <th>Position</th>
                            <th>Date</th>
                            <th>Resume</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>53275531</td>
                            <td>Jacob</td>
                            <td>53275531</td>
                            <td>12 May 2017</td>
                            <td><label class="badge badge-warning">View</label></td>
                          </tr>
                          <tr>
                            <td>53275531</td>
                            <td>Jacob</td>
                            <td>53275531</td>
                            <td>12 May 2017</td>
                            <td><label class="badge badge-warning">View</label></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Create Application Form Link</h4>
                    <form class="forms-sample" id="createAppLink">
                      <div class="form-group">
                        <label for="exampleInputName1">Application Name</label>
                        <input type="text" name="appname" class="form-control" id="exampleInputName1" placeholder="Name" required>
                      </div>
                      <div class="form-group">
                        <label for="exampleSelectGender">Position</label>
                        <select class="form-control" name="apppos" required>
                          <option disabled selected value> -- select role -- </option>
                          <option value="CEO">CEO</option>
                          <option value="Assistant CEO">Assistant CEO</option>
                          <option value="CTO">CTO</option>
                          <option value="Administrator">Administrator</option>
                          <option value="Developer">Developer</option>
                          <option value="Human Resource">Human Resource</option>
                          <option value="Virtual Assistant">Virtual Assistant</option>
                          <option value="IT Consultant">IT Consultant</option>
                          <option value="IT Service Desk">IT Service Desk</option>
                          <option value="IT Service Desk Manager">IT Service Desk Manager</option>
                          <option value="QA Analyst">QA Analyst</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Validity Date</label>
                        <input type="date" name="appdate" min="<%- new Date().toISOString().split('T')[0] %>" class="form-control" id="exampleInputName1" placeholder="Name" required>
                      </div>
                      <div class="form-group">
                        <button type="submit" class="btn btn-primary mr-2" onclick="createHiring(event)">Create</button>
                      </div>
                      <div class="form-group">
                        <label for="exampleTextarea1">Application Link <code>-- Send this to the applicants</code></label>
                        <textarea class="form-control" id="applinkresult" rows="4"></textarea>
                      </div>
                    </form>
                    <script>
                      function createHiring(event) {
                        const form = document.getElementById('createAppLink');
                        const output = document.getElementById('applinkresult');
                        const appname = document.getElementsByName('appname')[0].value;
                        const apppos = document.getElementsByName('apppos')[0].value;
                        const appdate = document.getElementsByName('appdate')[0].value;
                        event.preventDefault();
                          const xhr = new XMLHttpRequest();
                          xhr.onreadystatechange = function() {
                            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                              output.innerHTML = 'https://zitracore.onrender.com/application/' + xhr.responseText;
                            }
                          };
                        xhr.open('GET', `/v1/internal/hr/createHiring?appname=${appname}&apppos=${apppos}&appdate=${appdate}`);
                        xhr.send();
                      }
                    </script>
                  </div>
                </div>
              </div>
              <div class="col grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Ongoing Hiring</h4>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Application ID</th>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Validity</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <% allhiring.forEach(allhiring => { %>
                            <tr>
                              <td><%- allhiring.id %></td>
                              <td><%- allhiring.name %></td>
                              <td><%- allhiring.position %></td>
                              <td><%- allhiring.validity %></td>
                              <td>
                                <input type="hidden" id="copylink<%- allhiring.id %>" value="<%- allhiring.link %>">
                                <button class="btn btn-warning" id="copyLinkbtn<%- allhiring.id %>" data-toggle="modal" data-target='#openAppLink<%- allhiring.id %>')">Show Link</button>
                                <button class="btn btn-danger" onclick="window.location.href='/v1/internal/hr/removeHiring?id=<%- allhiring.id %>'">Terminate</button>
                              </td>
                            </tr>
                            <div class="modal fade" id="openAppLink<%- allhiring.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                      <div class="grid-margin stretch-card">
                                          <div class="card">
                                              <div class="card-body">
                                                <%- allhiring.id %>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <% }) %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">

                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">

                  </div>
                </div>
              </div>
            </div>
            
            
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <%- include(process.cwd() + "/views/_footer.ejs" ) %>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- Modal -->
    <%- include(process.cwd() + "/views/_modal.ejs" ) %>
    <!-- plugins:js -->
    <script src="assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="assets/vendors/chart.js/Chart.min.js"></script>
    <script src="assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="assets/js/off-canvas.js"></script>
    <script src="assets/js/hoverable-collapse.js"></script>
    <script src="assets/js/misc.js"></script>
    <script src="assets/js/settings.js"></script>
    <script src="assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="assets/js/dashboard.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>